<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="search" type="text" class="ghost-input" placeholder="Search for an Article" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
      </fieldset>
      <p>
          <% if (locals.articles) { %>
            <table class="centered">
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Content</th>
                  </tr>
                <% for(var i=0; i < locals.articles.hits.length; i++) { %>
                   <tr>
                     <td><%= articles.hits[i].author %></td>
                     <td><a href= <%= articles.hits[i].url %>> <%= articles.hits[i].title %></a></td>
                     <td><%= articles.hits[i].content %></td>
                   </tr>
                <% } %>
                </table>
        <% } %>
      </p>
    </div>
  </body>
</html>