<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="article" type="text" class="ghost-input" placeholder="Search for an Article" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <p>
          <div class="btn-group">
            <a class="btn pill" value = "technology" href="#">Technology</a>
            <a class="btn pill" value = "business" href="#">Business</a>
            <a class="btn pill" value = "entertainment" href="#">Entertainment</a>
            <a class="btn pill" value = "health" href="#">Health</a>
            <a class="btn pill" value = "science" href="#">Science</a>
            <a class="btn pill" value = "sports" href="#">Sports</a>
          </div>
          </p>
      </fieldset>
    </div>
  </body>
</html>